body {
  background-color: #6369D1;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
  background: #4CAF50;
}
li {
    float: left;
}
 li input {
   float: left;
   text-align: center;
   padding: 6px 21px;
   margin-top: 8px
 }
li button {
  padding: 6px 21px;
  margin-top: 8px;
  
 }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
