:root {
  --nav-area:
  "head head head head"
  "add edit sign sign2"
  "area area area area";
  --nav-rows: repeat(3, 1fr);
}

body {
  background-color: #6369D1;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#navbar {
  background-color: #324851;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(var(--nav-rows));
  grid-template-areas: var(--nav-area);
}

#navbar > #signin {
  grid-area: sign2;
}

#navbar > #logo {
  grid-area: head;
}

#navbar > #signout {
  grid-area: sign;
  color: white;
}

main {
  display: block;
  padding-top: 8vh;
}


#sessionover {
  display: block;
  text-align: center;
  padding-top: 5em;
}

#sessionover h1 {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#add {
  grid-area: add;
}

#edit {
  grid-area: edit;
}

.toolbar {
  background-color: #324851;
}

.toolbar > button {
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: white;
}

.toolbar > button:hover {
  background-color: black;
}

.addunit {
  grid-area: button;
  display: none;
  background-color: #FF8D3F;
}


#canvasArea {
  width: 100%;
}

canvas {
  border-style: solid;
  border-color: black;
  background-color: white;
  transform: scale(1, -1)
}

.show {
  display: block;
}

.none {
  display: none;
}
